h1{
	font-size: 50px;
	margin: 5px,
}
h2{
	color: lightblue;
}
body{
	font-family: Gill Sans;
	padding: 20px;
}
.rounded{
	border-radius: 20px;
}
a{
	text-decoration: none;
	border: 2px solid;
	border-color: lightblue;
	padding: 5px;
}
nav{
	padding: 10px;
	padding-left: 0px;
	margin: 10px;
	
}
h3{
	text-decoration: underline;
}